<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rockets_library.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DB9495A63D33E1F823EBD44FFBD14B6E8AEF732D</string>
				<key>dateExpires</key>
				<string>12/20/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB9495A63D33E1F823EBD44FFBD14B6E8AEF732D</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TXPS83K6</string>
						<key>name</key>
						<string>Mark Lester Bolotaolo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB9495A63D33E1F823EBD44FFBD14B6E8AEF732D</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TXPS83K6</string>
						<key>name</key>
						<string>Mark Lester Bolotaolo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB9495A63D33E1F823EBD44FFBD14B6E8AEF732D</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TXPS83K6</string>
						<key>name</key>
						<string>Mark Lester Bolotaolo</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB9495A63D33E1F823EBD44FFBD14B6E8AEF732D</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TXPS83K6</string>
						<key>name</key>
						<string>Mark Lester Bolotaolo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB9495A63D33E1F823EBD44FFBD14B6E8AEF732D</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94TXPS83K6</string>
						<key>name</key>
						<string>Mark Lester Bolotaolo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>94TXPS83K6.com.mlab817.rocketsLibrary</string>
				<key>com.apple.developer.team-identifier</key>
				<string>94TXPS83K6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5731a120-ae76-4ede-b442-47766669321e</string>
				<key>dateExpires</key>
				<string>12/20/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mlab817.rocketsLibrary</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>94TXPS83K6</string>
				<key>name</key>
				<string>Mark Lester Bolotaolo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
